<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= item.inv_make %>
            <%= item.inv_model %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <main>
        <div class="vehicle-detail">
            <img src="<%= item.inv_image %>" alt="Image of <%= item.inv_make %> <%= item.inv_model %>">
            <p><strong>Price:</strong> $<%= item.inv_price.toLocaleString() %>
            </p>
            <p><strong>Year:</strong>
                <%= item.year %>
            </p>
            <p><strong>Mileage:</strong>
                <%= item.inv_miles.toLocaleString() %> miles
            </p>
            <p><strong>Description:</strong>
                <%= item.inv_description %>
            </p>
        </div>
    </main>
</body>

</html>